In [1]:
import pandas as pd

In [3]:
csv_path = 'all_results.csv'
df = pd.read_csv(csv_path)

# columns are: SEED,PLANNING_EXPERIMENT,INPLACE,MOVING,ADVERSARIAL,OBSTACLES,Time,Distance
# we want to group by all columns except seed, and then take the mean of the time and distance columns
grouped = df.groupby(['PLANNING_EXPERIMENT', 'INPLACE', 'MOVING', 'ADVERSARIAL', 'OBSTACLES']).mean()
grouped

,,,,,SEED,Time,Distance
PLANNING_EXPERIMENT,INPLACE,MOVING,ADVERSARIAL,OBSTACLES,,,
1,True,False,False,False,2,76.629333,32.902041
2,True,False,False,False,2,69.866667,28.166194
3,True,False,False,False,2,69.866667,28.166194
4,True,False,False,False,2,69.866667,28.166194